<section>

    <div class="bg-wrapper"></div>

    <div class="bg">

        <div class="icons">
            <a class="display-center" href="">
                <mat-icon>account_circle</mat-icon> Admin
            </a>
        </div>

        <img src="/assets/img/logo.png" alt="Logo" width="160" height="150">
        <div class="description">
            <h1>De gamer para gamer</h1>
            <p>Levando entretenimento, diversão e confraternização para os diversos tipos de públicos e para toda a
                família. A “Game mania” é uma empresa que desde o ano de 2003 fornece equipamentos, suprimentos e
                acessórios para a área de Vídeo Games e
                Informática.
            </p>
            
        </div>
        <!-- Ícones Playstation e etc -->
        <div class="bottom-icons">
            <div class="ico">
                <img src="/assets/icons/playstation.png" alt="playstation logo" width="40" height="40">
                <p>Playstation</p>
            </div>

            <div class="ico">
                <img src="/assets/icons/xbox.png" alt="Xbox logo" width="40" height="40">
                <p>Xbox</p>
            </div>

            <div class="ico">
                <img src="/assets/icons/steam.png" alt="Steam logo" width="40" height="40">
                <p>Steam</p>
            </div>
        </div>
        <!-- Fim dos ícones -->
    </div>

</section>
<!-- <app-products-list></app-products-list> -->